[Unit]
Description=Lobby Hyprland Compositor
After=plymouth-quit.service plymouth.service

[Service]
Type=simple
User=lobby
Group=seat
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_CURRENT_DESKTOP=Hyprland
ExecStartPre=/usr/bin/systemctl stop plymouth-quit.service
ExecStartPre=/usr/bin/systemctl stop plymouth.service
ExecStartPre=/usr/bin/killall plymouthd
ExecStartPre=/usr/bin/chvt 2
ExecStart=/usr/bin/Hyprland --config /home/lobby/.config/hypr/hyprland.conf
Restart=always
RestartSec=5

[Install]
WantedBy=graphical.target
