[Unit]
Description=Lobby Hyprland Compositor
After=plymouth-quit.service plymouth.service user-runtime-dir@1000.service user@1000.service
Requires=user-runtime-dir@1000.service user@1000.service

[Service]
Type=simple
User=lobby
Group=seat
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_CURRENT_DESKTOP=Hyprland
Environment=WAYLAND_DISPLAY=wayland-1
ExecStartPre=/bin/bash -c 'while [[ ! -d /run/user/1000 ]]; do sleep 0.1; done'
ExecStart=/usr/bin/Hyprland --config /home/lobby/.config/hypr/hyprland.conf
ExecStartPost=/bin/bash -c 'systemctl --user --machine=lobby@.host set-environment WAYLAND_DISPLAY=wayland-1 || true'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical.target
