[Unit]
Description=Daily Automatic Lobby Updates
Requires=lobby-auto-update.service

[Timer]
OnCalendar=*-*-* 02:00:00
RandomizedDelaySec=3600

[Install]
WantedBy=timers.target
