[Unit]
Description=Show Plymouth Boot Screen on Shutdown
DefaultDependencies=false
Before=poweroff.target reboot.target halt.target
Conflicts=emergency.service emergency.target rescue.service rescue.target

[Service]
Type=forking
ExecStart=/usr/bin/plymouth --show-splash
ExecStartPost=/bin/bash -c 'while ! plymouth --ping; do sleep 0.1; done'
RemainAfterExit=yes
TimeoutStartSec=30

[Install]
WantedBy=poweroff.target reboot.target halt.target
EOF < /dev/null