[Unit]
Description=Hold until boot process finishes up (Kiosk Version)
After=multi-user.target network.target

[Service]
Type=oneshot
# Plymouth will be quit by Hyprland when display is ready - just wait passively
ExecStart=/bin/bash -c "echo 'Plymouth quit will be handled by compositor service'"
RemainAfterExit=yes
TimeoutStartSec=30
[Install]
WantedBy=graphical.target
